@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Paleta de Colores:*/
 :root {
  --primary-dark: #1D4ED8;  /* Azul Oscuro */
  --primary: #2563EB;       /* Azul Medio */
  --primary-light: #3B82F6; /* Azul Claro */
  --white: #FFFFFF;         /* Blanco */
  --gray-light: #F3F4F6;    /* Gris Claro */
  --gray-medium: #D1D5DB;   /* Gris Medio */
  --gray-dark: #111827;     /* Gris Oscuro */
}